.Onlyatapple{
background-color: #F5F5F7;}
.box3{
    display: grid;
    grid-template-columns: 480px 646px 480px 480px;
    grid-template-rows: 500px;
    padding-right: 140px;
    padding-left: 140px;
    overflow-x: scroll; 
    gap: 20px;
    width: 1920px;
}
.only-at-1{
    background-image: url(./images/Img-only-at-app;e.jpg);
    background-position: center;
    background-size: cover;
}
.only-at-1-P{
    width: 305px;
    height: 130px;
    font-size: 26px;
    font-weight: 700;
    color: #1D1D1F;
    padding-top: 50px;
    padding-left: 30px;
}
.box3-split4{
    display: grid;
    grid-template-columns: 313px 313px;
    grid-template-rows: 240px; 
    background-color: #F5F5F7;
    gap: 20px;
}
.split-1{
    border-radius: 18px;
    background: #FFF;
    box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
    color: #1D1D1F;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.only-at-2{
    background-image: url(./images/apple-trade.jpg);
    background-position: center;
    background-size: cover;
}
.only-at-3{
    background-image: url(./images/specialistpretty.jpg);
    background-position: center;
    background-size: cover;
}
.only-at-2-P{
    color: #6E6E73;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
}
.only-at-2-PP{
    color: #1D1D1F;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}
.only-at-2-P-padding{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-top: 31px;
    padding-left: 30px;
}