.Watchmacbookair{
    height: 580px;
    width: 100%;
    display: flex;
    gap: 12px;
    padding: 0px 12px 0px 12px;

}

.Watch{
    background-image: url(./images/watch.jpg);
    height: 580px;
    width: 50%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.wacthlogo{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 58px;
    margin-bottom: 4px; 
    
}
.headingwatch{
    font-size: 32px;
    font-weight: 700;
}

.watchp{
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4px;

}
.watchp2{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 16px;
}
.Macbookair{
    background-image: url(./images/macbookair.jpg);
    height: 580px;
    width: 50%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headingmacbookair{
    font-size: 36px;
    font-weight: 600;
    margin-top: 48px;
    margin-bottom: 2px;
    text-align: center;
}
.mackbookairp{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}
.tablet-all-in-one{
    background-image: url(./images/all-in-one.png);
    background-position: center;
    height: 490px;
    width: 366px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tablet-all-in-one h1{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color:#1D1D1F;
    margin-top: 42px;
    margin-bottom: 4px;
}
.tablet-all-in-one p p1{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #1D1D1F;
    
}
.tablet-all-in-one p1{
    margin-bottom: 16px;
}
.tablet-all-in-one{display: none;
    
}

@media (max-width: 768px) {
.Watch{ display: none;}
.Macbookair{
    height: 490px;
    width: 366px;
}
.tablet-all-in-one{
    display: flex;
}
.Watchmacbookair{height: 490px;
}
}
@media (max-width: 390px) {
.Watchmacbookair{ 
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 1000px;
    margin-top: 12px;
    margin-left: -12px;

}
.Macbookair{
    height: 500px;
    width: 390px;
}
.tablet-all-in-one{
    height: 500px;
    width: 390px;
    margin: 0;
}
}
