*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1920px;
    background-color: #F5F5F7;
}
.Menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background: rgba(245, 245, 247, 0.80);
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    height: 44px;
}
.Menu a{
    color: #000000;
    text-decoration: none;
}
.Promo{
    height: 60px;
    width: 100%;
    display: flex;
    background: #FFF;
    justify-content: center;
    align-items: center;
}
.blured-colors{
    display: flex;
    width: 100%;
    height: 75px;
    background: #F5F5F7;
}
.color1{
    height: 25px;
    background-color: #019FFB;
    width: 50%;
    opacity: 0.5;
    fill: #019FFB;
    filter: blur(10px);
}
.color2{
    background-color: #F55BE4;
    height: 25px;
    width: 25%;
    opacity: 0.5;
    filter: blur(10px);
    border-radius: 361.5px;
}
.color3{
    background-color: #FD8C1F;
    border-radius: 204.5px;
    height: 25px;
    width: 25%;
    opacity: 0.5;
    filter: blur(10px);
}
.Holiday-Promo{
    height: 260px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
}
.Promo-Heading{
    display: flex;
    gap: 32px;
    align-items: flex-start;
}
.Promo-Heading p1{
    font-size: 44px;
    font-weight: 700;
    background: linear-gradient(90deg, #0090F7 0%, #BA62FC 50%, #F2416B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Promo-Heading p2{
    font-size: 44px;
    font-weight: 700;
    color: #6E6E73;
}
.Contact-Specialist{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.Specialist{
    display: flex;
    gap: 16px;
}
.Contact-Specialist p{
    font-size: 14px;
    font-weight: 700;
    color: #1D1D1F;
}
.Contact-Specialist img{
    border-radius: 50%;
}
.Contact-Specialist a{
    font-size: 14px;
    font-weight: 400;
    color: #0066CC;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
.List-Products{
    height: 146px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 140px;
    padding-right: 140px;
}
.Products{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Products img{ 
    height: 78px;
    width: 120px;}